*{
    font-family:Arial, Helvetica, sans-serif;
}

body {
    background-color: #f8f8ff;
}

nav {
    height: 100%;
    width:280px;
    overflow: auto;
    transition: all ease 1s;
}

.position-fixed {
    top: 0;
    margin-left: 0%;
    /* box-shadow: 0 0 25px 20px white; */
}

.hero .position-fixed{
    width:270px;
    box-shadow: -10px 1px 25px 20px white;
} 

a {
    text-decoration: none;
    color:black ;
}
/* --------------Hero Main------------------- */


.component .text {
    color: #7678fb;
    background-color: #e4e5ff;
    width: 250px;
    justify-content: space-between;
}

.five{
    border-radius: 40%;
    padding: 1px 9px;
}

.hero {
    padding: 20px 0;
}

.badge {
    width:30px;
}

.drop-item{
    border-radius: 10px;
}

.icon {
    font-size: 18px;
}

#angle {
    transform: rotate(90deg);
    font-weight: 700;
    transition: all ease 0.5s;
}

.drop-item:hover{
    background-color: rgb(229, 229, 229);
    transition: all ease-in .5s;
    border-radius: 10px;
}

.drop-item:hover .fa-icon{
    transition: all ease-in;
    color: #7678fb;
    border-radius: 50%;
}

.fa-icon{
    color: rgb(165, 165, 165);
    font-size: 8px;
    margin-bottom: 6.5px;
}

@media only screen and (max-width: 1260px){
    nav {
        display: none;
        transition: all ease 1s;
    }
}

@media only screen and (min-width: 1260px){
    nav{
        display: block;
        transition:all ease 1s;
    }
}