*{
    font-family:Arial, Helvetica, sans-serif;
}

nav {
    height: 100%;
    width:270px;
    overflow: auto;
    position: fixed;
}

.position-fixed {
    top: 0;
    margin-left: 0%;
    width: 235px;
    /* box-shadow: 0 0 25px 20px white; */
}

a {
    text-decoration: none;
    color:black ;
}
/* --------------Hero Main------------------- */


.component .text {
    color: #7678fb;
    background-color: #e4e5ff;
}

.five{
    border-radius: 40%;
    padding: 1px 9px;
}

.hero {
    padding: 20px 0;
}

.badge {
    width:30px;
}

.drop-item{
    border-radius: 10px;
}

.icon {
    font-size: 20px;
}

.drop-item:hover{
    background-color: rgb(229, 229, 229);
    transition: all ease-in .5s;
    border-radius: 10px;
}

.drop-item:hover .fa-icon{
    transition: all ease-in;
    color: #7678fb;
    border-radius: 50%;
}

.fa-icon{
    color: rgb(165, 165, 165);
    font-size: 8px;
    margin-bottom: 6.5px;
}